lib/
dist/
coverage/
node_modules/

.env
.eslintcache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# terraform
**/.tfsec/*
**/.terraform/*
*.tfstate
override.tf
override.tf.json
**/_modules/**/.terraform.lock.hcl