# see https://help.github.com/en/articles/about-code-owners#example-of-a-codeowners-file

* @pagopa/io-platform-contributors @pagopa/io-platform-admins
infra/bootstrapper/* @pagopa/engineering-team-devex @pagopa/io-platform-admins @pagopa/io-platform-contributors
