name: Azure Deploy - PROD ITN

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
    paths:
      - "apps/io-link/CHANGELOG.md"
      - ".github/workflows/azure-deploy.yaml"

permissions:
  attestations: write
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy
    uses: pagopa/dx/.github/workflows/release-azure-appsvc-v1.yaml@main
    secrets: inherit
    with:
      workspace_name: io-link
      environment: app-prod
      resource_group_name: io-p-itn-continua-rg-01
      web_app_name: io-p-itn-continua-app-01